
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>
  <div id="app" class="container">
    <nav-header></nav-header>
    
    <h2 class="text-center">Vue를 이용한 게시판</h2>
    <create></create>
  </div>

    <script>

      const NavHeader = {
        template: `    <p>
      <a href="./index.html">HOME</a>
      <a href="./list.html">게시판</a>
    </p>`,
      };

      const Create = {
        data() {
          return {
            writer:'',
            title:'',
            content:'',
            regtime:'',
          };
        },

        methods: {
          checkHandler(){
            let err = false;
            let msg = '';
            if(!this.writer){
              msg = "작성자를 입력하시여야한다옹~";
              err = true;
            }else if(!this.title){
              msg = "제목을 입력하시여야하지않을까요~~?";
              err = true;
            }else if(!this.content){
              msg = "내용이 없습니다와바리?";
              err = true;
            }

            if(err){ //유효성 체크 에러 발생
              alert(msg);              
            }else {
              this.createHandler(); //등록시키기              
            }
          },
          createHandler(){ //로컬스토리지에 저장하기
            //로컬스토리지에서 저장된 데이터 가져오기
            const board = localStorage.getItem('board');
            //사용자 입력한 데이터를 로컬스토리지에 추가하기
  
            let newBoard = {
              sequence: 0,
              items: [],
            };

            if(board){ //로컬스토리지에 저장된 데이터가 있다면
              newBoard = JSON.parse(board);
            }
            newBoard.sequence+=1;
            newBoard.items.push({
              writer : this.writer,
              title : this.title,
              content : this.content,
              no : newBoard.sequence,
              regtime : new Date(),
            });
            
            //로컬스토리지에 추가된 객체를 저장하기
            localStorage.setItem('board', JSON.stringify(newBoard));
            alert("등록성공");
            location.href="./list.html"; //목록화면으로 이동
          },
          moveList(){
            location.href="./list.html"; //목록화면으로 이동
          }
          
        },

        template:`
        <div>
      <div class="form-group">
        <label for="writer">작성자</label>
        <input type="text" id="writer" class="form-control" placeholder="작성자를 입력하세용?" v-model="writer">
      </div>
      <div class="form-group">
        <label for="title">제목</label>
        <input type="text" id="title" class="form-control" placeholder="제목을 입력하세용?" v-model="title">
      </div>
      <div class="form-group">
        <label for="content">내용</label>
        <input type="text" id="content" class="form-control" placeholder="내용을 입력하세용?" v-model="content">
      </div>
      <div class="text-right">
      <button class="btn btn-primary" @click="checkHandler">등록</button>
      <button class="btn btn-primary" v-on:click="moveList">목록</button>
      </div>
    </div>
    `,
      };

      new Vue({
        el: '#app',

        components:{
          NavHeader,
          Create,
        },
 
      });
    </script>
</body>

</html>
